
//- skeleton mixin template you must fill out
mixin personCard(person)
  .card
    h2= person.name
    p Age: #{person.age}
    if person.hobbies.length > 0
      h3 Hobbies:
      ul
        each hobby in person.hobbies
          li= hobby
    else
      p No hobbies listed.

//- complete body of pug template, only modify mixin above
doctype html
html
  head
    title Template 4
  body
    h1 Creating a dynamic person profile card
    p This template uses an example with mixins and JavaScript.
    each person in people
      +personCard(person)