doctype html
html
  head
    title Template 1
  body
    h1 Basic pug syntax for HTML
    p This template shows basic HTML syntax.
    ul
      li Item 1
      li Item 2
      li Item 3
    table(border="1")
      tr
        th Header 1
        th Header 2
      tr
        td Row 1, Cell 1
        td Row 1, Cell 2
      tr
        td Row 2, Cell 1
        td Row 2, Cell 2
    img(src="https://via.placeholder.com/150" alt="Placeholder Image")